.form-row {
	font-size: 30px;
	height: 50px;

}

form {
	margin-top: 30px;
}

input {
	text-align: center;
}

br {
	font-size: 5px;
}

.col-sm-2 {
	z-index: -1;
}

.col-5 {
	z-index: -1;
}

.col-3 {
	z-index: -1;	
}